<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Regrestration Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'reg/css/datatables.min.css'%} "/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'reg/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href=" {% static 'reg/css/style.css'%}">
</head>
<body>
    <div class="container-fluid bg-dark">
        {% include 'reg/navbar.html' %}
    </div>
    <div class="container">
        <div class="row" >
            <div class="jumbotron jumbotron-fluid bg-info">
                <div class=" col-sm-12 ">
                    <div class="container-fluid">
                        <br>
                        <div class="d-flex align-items-center justify-content-center">
                            <br>
                            <br>
                            <br>
                            {% if stu %}
                            <div class="col-sm-12">
                                <h3 class="text-center display-4 font-weight-bold">Customers</h3>
                                
                                <table id="table_id" class="table table-info table-bordered">
                                    <thead class=" thead-dark ">
                                        <tr class=" align-middle ">
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Complaints</th>
                                            <th scope="col">Genral exams</th>
                                            <th scope="col">Total charges</th>
                                            <th scope="col">Date and Time</th>
                                            <th class='text-center' scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for st in stu %}
                                        <tr class="align-middle">
                                            <th>{{ st.id }}</th>
                                            <td>{{ st.name }}</td>
                                            <td>{{ st.age }}</td>
                                            <td>{{ st.gender }}</td>
                                            <td>{{ st.address }}</td>
                                            <td>{{ st.complaints }}</td>
                                            <td>{{ st.genral_exams }}</td>
                                            <td>{{ st.total_fees }}</td>
                                            <td>{{ st.created_at }}</td>
                                            <td class="text-center">
                                                <a href="{%  url 'viewdata_all' st.id %}"
                                                    class="btn btn-sm  btn-link ">View </a>
                                                <a href="{%  url 'viewdata' st.id %}"
                                                    class="btn btn-sm btn-link">Edit</a>
                                                <form action="{% url 'deletedata' st.id %}" method="POST"
                                                    class="d-inline ">
                                                    {% csrf_token %}
                                                    <input type="submit" class="btn btn-sm btn-link "
                                                        onclick="return confirm('Do you really want to delete?');"
                                                        value="Delete">
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                {% else %}
                                <br>
                                <br>
                                <h4 class=" text-center "> Add Customers to View</h4>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"> </script>
    <script src="{% static 'reg/js/jquery.js' %}"></script>
    <script src="{% static 'reg/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'reg/js/datatables.min.js' %}" ></script>
    </script>
    <script src="{% static 'reg/js/bootstrap.js' %}"></script>
    <script src="{% static 'reg/js/main.js' %}"></script>

</body>

</html>