{% extends 'reg/base.html' %}

{% block content %}
<div class=" col-sm-12">
    <div class="jumbotron jumbotron-fluid jumbo-color">
        <div class="container">
            <br>
            <h1 class="text-center display-4 font-weight-bold">Welcome {{name}}</h1>
            <br>
        </div>
    </div>
    <div class="container">
        <div class="justify-content-center">
            <div class="col-sm-12">
                <br>
                <h4 class="text-center ">Add New Customer</h4>
                <br>
                <form action="" class='form-inline' method="POST" novalidate>
                    {% csrf_token %}
                    {% if formm.error %}
                    {% for field in formm %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in formm.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-md-4">Name {{formm.name}}</div>
                        <div class="col-md-4">Gender{{formm.gender}}</div>
                        <div class="col-md-4">Age{{formm.age}}</div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">Email{{formm.email}}</div>
                        <div class="col-md-6">Mobile{{formm.mobile}}</div>
                    </div><br>
                    <div>
                        <p>Complaints{{formm.complaints}}</p>
                        <p>Address {{formm.address}}</p>
                        <div class="row">
                            <div class="col-md-6">Pulse {{formm.pulse}}</div>
                            <div class="col-md-6">Blood Pressure {{formm.blood_pressure}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Temprature {{formm.temprature}}</div>
                            <div class="col-md-6">Blood Sugar Level {{formm.blood_suger_level}}</div>
                        </div>
                        <p>Genral Exams {{formm.genral_exams}}</p>
                    </div>
                    <div>

                        <div class="row" id="treatment1">
                            <div class="col-md-3">Treatment_type_1 {{formm.treatment_type_1}}</div>
                            <div class="col-md-3">Treatment_name_1 {{formm.treatment_name_1}}</div>
                            <div class="col-md-3">Units_1 {{formm.units_1}}</div>
                            <div class="col-md-3">Details_1 {{formm.details_1}}</div>
                        </div>
                        <br>
                        <div class="row" id="treatment2">
                            <div class="col-md-3">Treatment_type_2 {{formm.treatment_type_2}}</div>
                            <div class="col-md-3">Treatment_name_2 {{formm.treatment_name_2}}</div>
                            <div class="col-md-3">Units_2 {{formm.units_2}}</div>
                            <div class="col-md-3">Details_2 {{formm.details_2}}</div>

                        </div>
                        <br>
                        <div class="row" id="treatment3">
                            <div class="col-md-3">Treatment_type_3 {{formm.treatment_type_3}}</div>
                            <div class="col-md-3">Treatment_name_3 {{formm.treatment_name_3}}</div>
                            <div class="col-md-3">Units_3 {{formm.units_3}}</div>
                            <div class="col-md-3">Details_3 {{formm.details_3}}</div>
                        </div>
                        <br>
                        <div class="row" id="treatment4">
                            <div class="col-md-3">Treatment_type_4 {{formm.treatment_type_4}}</div>
                            <div class="col-md-3">Treatment_name_4 {{formm.treatment_name_4}}</div>
                            <div class="col-md-3">Units_4 {{formm.units_4}}</div>
                            <div class="col-md-3">Details_4 {{formm.details_4}}</div>
                        </div>
                        <br>
                        <div class="row" id="treatment5">
                            <div class="col-md-3">Treatment_type_5 {{formm.treatment_type_5}}</div>
                            <div class="col-md-3">Treatment_name_5 {{formm.treatment_name_5}}</div>
                            <div class="col-md-3">Units_5 {{formm.units_5}}</div>
                            <div class="col-md-3">Details_5 {{formm.details_5}}</div>
                        </div>


                    </div>

                    <button type="button" class=" btn btn-info " id="add_more">+</button> <button type="button"
                        class=" btn btn-info " id="add_more">-</button><br>

                    <input type="submit" class="btn tablecolor2" value="Add">
                    <br> <br>
                    <h6 class="lead text-center">
                        {% if messages %}
                        {% for message in messages %}
                        <div {% if message.tags %} class="{{ messages.tags}} text-warning" {% endif %}>
                            {{message}}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </h6>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}